* {
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
}

.main-box {
    background: url(camera.jpg.jpg);
    height: 100vh;
    background-size: cover;
}

.btn-one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    left: 16px;
    position: absolute;
}

.sidebar-menu {
    position: fixed;
    
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar-menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar-menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 450;
}

.sidebar-menu .btn-two {
    color: rgb(90, 88, 88);
    line-height: 60px;
    font-size: 25px;
    position: absolute;
    left: 275px;
    opacity: 0;
}

.sidebar-menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar-menu .menu li {
    margin-top: 6px;
    padding: 10px 20px;
}

.sidebar-menu .menu a,i {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sidebar-menu .menu i {
    padding-right: 8px;
}

.sidebar-menu .social-media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 28%;
    bottom: 25px;
}