* {
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
}

.main-box {
    background: url(camera.jpg.jpg);
    height: 100vh;
    background-size: cover;
}

.btn-one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    left: 16px;
    position: absolute;
}

.sidebar-menu {
    position: fixed;
    left: -300px;
}